.postbody .content {
	max-height: 100vh;
}
.expander {
	display: none;
	position: relative;
	padding: 3px;
	background: #a0b3c4;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.expander::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 0px 5px;
	background: url("data:image/svg+xml;utf8,<svg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='white' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'></path></svg>") no-repeat center;
	vertical-align: middle;
}
.bg1 .expander {
	box-shadow: 0px -8px 5px 3px #ecf3f7;
}
.bg2 .expander {
	box-shadow: 0px -8px 5px 3px #e1ebf2;
}
.overflowed .expander {
	display: block;
}
